<!doctype html>
<html lang="en">
    <head>
        <title>Finance App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

    @import url(https://fonts.googleapis.com/css?family=Raleway);
        body {
        font-family: "Lato", sans-serif;
        background-color: #e0e0e0;
        }
    nav {
        padding: 5px;
        text-align: center;
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }
    #nav1 {
        background: #9061e2;
    }
    #navs{
        color: #27057f;
        font-weight: bold;
    }
        #finance{
                font-size: 40px;
                color: black;
                font-family: 'Kaushan Script', cursive;
            }
            .link {
        transition: 0.3s ease;
        background: #9061e2;
        font-size: 20px;
        text-decoration: none;
        padding: 20px 0;
        margin: 0 20px;
    }
    .link:hover {
        padding: 6px 0; 
    }
    #drop{
        font-size: 20px;
        color: #27057f;
        font-weight: bold;
    }
    
</style>

    </head>