<!-- navBar --> 
<nav class="navbar navbar-default" id="nav1">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" id="finance" href="/">Finance</a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a class="link" id="navs" href="/">Dashboard</a>
                </li>

                <li>
                    <a class="dropdown-toggle" class="link" id="drop" data-toggle="dropdown" href="#">Customer
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/customer">New Customer</a>
                        </li>
                        <li>
                            <a href="/customer/existing">Existing Customer</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="dropdown-toggle" class="link" id="drop" data-toggle="dropdown" href="#">Loan
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/loan">New Loan</a>
                        </li>
                        <li>
                            <a href="/customer/existing">Existing Loan</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="link" id="navs" href="#">Collection</a>
                </li>
                <li>
                    <a class="link" id="navs" href="#">Reports</a>
                </li>
            </ul>
        </div>
    </nav>  