 <!--Partial of Head  -->
<% include ../partials/head %> 

<body>
  <!-- script for validate -->
  <!-- <script>
      function validate(){
        var name=document.forms["form1"]["name"].value;
        var father=document.forms["form1"]["fatherName"].value;
        var date=document.forms["form1"]["dob"].value;
        // var gender=document.getElementById("gen");
        var sex = document.forms["form1"]["gender"].value;
        var occupation=document.forms["form1"]["occupation"].value;
        var mobilenumber=document.forms["form1"]["mobilenumber"].value;
        var landline=document.forms["form1"]["landline"].value;
        var drop =document.forms["form1"]["dd1"];
        var IdProof = drop.options[drop.selectedIndex].value;
        var idNumber=document.forms["form1"]["idNumber"].value;
        var address=document.forms["form1"]["address"].value;
        var city=document.forms["form1"]["city"].value;
        var Reference=document.forms["form1"]["Reference"].value;
        var refRelationship=document.forms["form1"]["refRelationship"].value;
  
  // script for alert
  
        if(name== "")
        {
          alert("Enter The Customer Name");
        }
         if(father== "")
        {
          alert("Enter The Father's Name");
        }
        if(date== "")
        {
          alert("Choose The Date of Birth");
        }
         if(sex == "")
        {
           alert("Choose The Gender");
         }
        if(occupation== "")
        {
          alert("Enter The Occupation");
        }
        if(mobilenumber== "")
        {
          alert("Enter The Mobile Number");
        } 
        if(isNaN(mobilenumber))
        {
        alert("Enter the valid Mobile Number");
        }
        if(landline== "")
        {
          alert("Enter The LandLine Number");
        }
        if(isNaN(landline))
        {
        alert("Enter the valid LandLine Number");
        }
        if(IdProof == 0)
        {
          alert("Choose the ID Proof");
        }
        if(idNumber== "")
        {
          alert("Enter The Id Number");
        }
        if(address== "")
        {
          alert("Enter The Address");
        }
         if(city== "")
        {
          alert("Enter The City");
        }
         if(Reference== "")
        {
          alert("Enter the Reference");
        }
         if(refRelationship== "")
        {
          alert("Enter The Reference Relationship");
          return false;
        } 
      }
    </script> -->


 <% include ../partials/nav %>


<!-- Form New Customer  -->
<div class="container">
<!-- <form  action="/customer" method="POST"> -->
<form action="" method="POST" name="form1" id="form1" onsubmit="return validate()">
<!-- Form Details  -->

<!-- Left Side Div -->
<div class = "col-lg-4" >

    <!-- Customer Id -->
    <!-- <div class="form-group">
      <label for="customerid">Customer Id:</label>
      <input type="text" class="form-control" id="idCustomer" name="idCustomer">
    </div> -->

    <div class="form-group">
      <label for="name">Customer Name:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
      <label for="fatherName">Father Name:</label>
      <input type="text" class="form-control" id="fatherName" name="fatherName">
    </div>

    <div class="form-group">
      <label for="dob">Date of birth:</label>
      <input type="date" class="form-control" id="dob" name="dob">
      <!-- <input type="text" class="form-control" id="dob" name="dob"> -->
      
    </div>  

    <div class="form-group">
       <label for="Sex">Sex</label>
    <label class="radio-inline"><input type="radio" id="gen" value=0  name="gender">Male</label>
    <label class="radio-inline"><input type="radio" id="gen" value=1 name="gender">Female</label>
    </div>

    <div class="form-group">
      <label for="occupation">Occupation:</label>
      <input type="text" class="form-control" id="occupation" name="occupation">
    </div> 

    <div class="form-group">
      <label for="mobilenumber">Mobile Number:</label>
      <input type="text" class="form-control" id="mobileNumber" name="mobileNumber">
    </div>
    
    <div class="form-group">
      <label for="landline">Landline Number:</label>
      <input type="text" class="form-control" id="landline" name="landline">
    </div> 

    <div class="form-group">
      <label class="control-label">ID Proof</label>        
        <!-- <select id="dd1" class="form-control" name="proofType">          
          <option value="2">Passport</option>
          <option value="3">Voter ID</option>
          <option value="4">Aadhaar</option>
          <option value="5">Pan Card</option>
          <option value="6">Driving licence</option>
          <option value="7">Pass book</option>    
        </select> -->
        <input type="text" class="form-control" id="proofType" name="proofType">      
    </div>

    <div class="form-group">
      <label for="idNumber">Id Number:</label>
      <input type="text" class="form-control" id="idNumber" name="idNumber">
    </div> 
</div>

<!-- Right Side Div -->
<div class = "col-lg-4" >
    <div class="form-group">
      <label for="address">Address:</label>
      <!-- <input type="textarea" class="form-control" id="address" name="address"> -->
      <textarea class="form-control" rows="8" name="address" id="address"></textarea>
    </div> 

    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" id="city" name="city">
    </div> 

    <!-- Well For Relationship -->
    <div class="well well-lg"> 
      <div class="form-group">
        <label for="Reference">Reference:</label>
        <input type="text" class="form-control" id="reference" name="reference">
      </div>
      
      <div class="form-group">
        <label for="refRelationship">Reference Relationship:</label>
        <input type="text" class="form-control" id="refRelationship" name="refRelationship">
      </div>
    </div>
    <input type="submit" class="btn btn-default pull-right" value="submit" />
    </p>
</div>

<!-- Image uplode -->
<div class = "col-lg-4" >
    <input type='file' onchange="readURL(this);" />
    <img id="blah" src="#" alt="your image" />

    <script>
      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </form>
</div>
</body>
</html>