 <!--Partial of Head  -->
<% include ../partials/head %> 

<body>
 <% include ../partials/nav %>

<!-- Form New Customer  -->
<div class="container">
  <h2>New Customer</h2><br><br>
<form name="myForm" action="/customer" method="POST" encType="multipart/form-data" onsubmit="return validateForm()">
<!-- Form Details  -->

<!-- Left Side Div -->
<div class = "col-lg-4" >

    <!-- Customer Id -->
    <div class="form-group">
      <label for="customerid">Customer Id:</label>
      <input type="text" class="form-control" id="idCustomer" name="idCustomer">
    </div>

    <div class="form-group">
      <label for="name">Customer Name:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
      <label for="fatherName">Father Name:</label>
      <input type="text" class="form-control" id="fatherName" name="fatherName">
    </div>

    <div class="form-group">
      <label for="dob">Date of birth:</label>
      <input type="date" class="form-control" id="dob" name="dob">
      <!-- <input type="text" class="form-control" id="dob" name="dob"> -->
      
    </div>  

    <div class="form-group">
       <label for="gender">Gender</label>
    <label class="radio-inline"><input type="radio" id="gen" value=male  name="gender">Male</label>
    <label class="radio-inline"><input type="radio" id="gen" value=female name="gender">Female</label>
    </div>

    <div class="form-group">
      <label for="occupation">Occupation:</label>
      <input type="text" class="form-control" id="occupation" name="occupation">
    </div> 

    <div class="form-group">
      <label for="mobilenumber">Mobile Number:</label>
      <input type="text" class="form-control" id="mobileNumber" name="mobileNumber">
    </div>
    
    <div class="form-group">
      <label for="landline">Landline Number:</label>
      <input type="text" class="form-control" id="landline" name="landline">
    </div> 

    <div class="form-group">
      <label class="control-label">ID Proof</label>        
       
        <input type="text" class="form-control" id="proofType" name="proofType">      
    </div>

    <div class="form-group">
      <label for="idNumber">Id Number:</label>
      <input type="text" class="form-control" id="idNumber" name="idNumber">
    </div> 
</div>

<!-- Right Side Div -->
<div class = "col-lg-4" >
    <div class="form-group">
      <label for="address">Address:</label>
      <!-- <input type="textarea" class="form-control" id="address" name="address"> -->
      <textarea class="form-control" rows="8" name="address" id="address"></textarea>
    </div> 

    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" id="city" name="city">
    </div> 

    <!-- Well For Relationship -->
    <div class="well well-lg"> 
      <div class="form-group">
        <label for="Reference">Reference:</label>
        <input type="text" class="form-control" id="reference" name="reference">
      </div>
      
      <div class="form-group">
        <label for="refRelationship">Reference Relationship:</label>
        <input type="text" class="form-control" id="refRelationship" name="refRelationship">
      </div>
    </div>    

    <input type="submit" class="btn btn-default pull-right" value="submit" />
    </p>
</div>

<!-- Image uplode -->
<div class = "col-lg-4" >
    <input type='file' onchange="readURL(this);" name="profileImage" accept=".jpg"/>
    <!-- Image Preview -->
    <img id="blah" src="#" alt="your image" />

  <script>
    //Photo Upload.
    function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  $('#blah')
                      .attr('src', e.target.result)
                      .width(150)
                      .height(200);
              };

              reader.readAsDataURL(input.files[0]);
          }
      }
        
  //VALIDATION
  function validateForm() {
      var name = document.forms["myForm"]["name"].value;
      var fatherName = document.forms["myForm"]["fatherName"].value;
      var dob = document.forms["myForm"]["dob"].value;
      var sex = document.forms["myForm"]["gender"].value;
      var occupation = document.forms["myForm"]["occupation"].value;
      var mobileNumber = document.forms["myForm"]["mobileNumber"].value;
      var landline = document.forms["myForm"]["landline"].value;
      var proofType = document.forms["myForm"]["proofType"].value;
      var idNumber = document.forms["myForm"]["idNumber"].value;
      var address = document.forms["myForm"]["address"].value;
      var city = document.forms["myForm"]["city"].value;
      var reference = document.forms["myForm"]["reference"].value;
      var refRelationship = document.forms["myForm"]["refRelationship"].value;

      if (name == "") {
        alert("Name must be filled out");
        return false;
      }
      if (fatherName == "") {
        alert("Father Name must be filled out");
        return false;
      }
      if (dob == "") {
        alert("DOB must be filled out");
        return false;
      }
      if (sex == "") {
        alert("Gender must not be Empety");
        return false;
      }
      if (occupation == "") {
        alert("occupation must not be Empety");
        return false;
      }

      if (mobileNumber == "") {
        alert("mobileNumber must not be Empety");
        return false;
      }

      if (isNaN(phonenumber)) {
        alert("Enter the valid Mobile Number");
        return fales;
      }

      if (mobilenumber.value.length != 10) {
        alert("Enter 10 digits");
        return false;
      }

      if (landline == "") {
        alert("landline must not be Empety");
        return false;
      }
      if (proofType == "") {
        alert("proofType must not be Empety");
        return false;
      }
      if (idNumber == "") {
        alert("ID NUMBER  must not be Empety");
        return false;
      }
      if (address == "") {
        alert("address must not be Empety");
        return false;
      }
      if (city == "") {
        alert("city must not be Empety");
        return false;
      }
      if (reference == "") {
        alert("Reference must not be Empety");
        return false;
      }
      if (refRelationship == "") {
        alert("Reference RelationShip must not be Empety");
        return false;
      }
  }
  </script>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </form>
</div>
</body>
</html>