<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Add</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
  body {
    font-family: "Lato", sans-serif;

    /* background-image: url("http://www.pptback.com/uploads/a-sack-of-dollars-backgrounds-powerpoint.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover; */
  }
      
 /* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(48, 35, 94);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
      
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
      
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }*/


  #nav{
  background-color:#2d0d77;
  color:white;
  }

  a:hover {
    background-color: yellow;
}
</style>

</head>

<body>
  <!-- Side navBar -->
<!--   <div id="mySidenav" class="navbar navbar-default">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">New Customer</a>
    <a href="/loan">New Loan</a>
    <a href="#">Reports</a>
  </div> -->

  <nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Finance</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/">New Customer</a></li>
      <li><a href="/loan">New Loan</a></li>
      <li><a href="#">Reports</a></li>
    </ul>
  </div>
</nav>

  <script>
    function validate(){
      var id=document.getElementById("idCustomer").value;
      var name=document.getElementById("name").value;
      var father=document.getElementById("fatheName").value;
      var date=document.getElementById("dob").value;
      // var gender=document.getElementById("gen");
      var sex = document.getElementById("gen").value;
      // var choice=strUsers[strUsers.selectedIndex].value;
      var occupation=document.getElementById("occupation").value;
      var mobilenumber=document.getElementById("mobilenumber").value;
      var landline=document.getElementById("landline").value;
      var Idproof=document.getElementById("dd1").value;
      var idNumber=document.getElementById("idNumber").value;
      var address=document.getElementById("address").value;
      var city=document.getElementById("city").value;
      var Reference=document.getElementById("Reference").value;
      var refRelationship=document.getElementById("refRelationship").value;

      var drop =document.getElementById("dd1");
      var IdProof = drop.options[drop.selectedIndex].value;
      // var image = document.getElementById("imgs").required;
 
      if(id== "")
      {
        alert("Enter The Customer Id");
      }
      if(name== "")
      {
        alert("Enter The Customer Name");
      }
       if(father== "")
      {
        alert("Enter The Father's Name");
      }
      if(date== "")
      {
        alert("Choose The Date of Birth");
      }
       if(sex == "")
      {
         alert("Choose The Gender");
       }
      // if(choice!=0)
      // {
      //   alert("enter the gender");
      // }
      if(occupation== "")
      {
        alert("Enter The Occupation");
      }
      if(mobilenumber== "")
      {
        alert("Enter The Mobile Number");
      }
      if(landline== "")
      {
        alert("Enter The LandLine Number");
      }
      if(Idproof == 0)
      {
        alert("Choose the ID Proof");
      }
      if(idNumber== "")
      {
        alert("Enter The Id Number");
      }
      if(address== "")
      {
        alert("Enter The Address");
      }
       if(city== "")
      {
        alert("Enter The City");
      }
       if(Reference== "")
      {
        alert("Enter the Reference");
      }
       if(refRelationship== "")
      {
        alert("Enter The Reference Relationship");
      }
      // if(refRelationship== "")
      // {
      //   alert("enter the refRelationship");
      // }
      
    }
  </script>
<!-- ######### -->


<!-- Form New Customer  -->
<div class="container">
  <form action="/loan" method="POST">
<!-- Form Details  -->

<!-- Left Side Div -->
<div class = "col-lg-4" >

    <div class="form-group">
      <label for="customerid">Customer Id:</label>
      <input type="text" class="form-control" id="idCustomer" name="idCustomer">
    </div>

    <div class="form-group">
      <label for="name">Customer Name:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
      <label for="fatheName">Father's Name:</label>
      <input type="text" class="form-control" id="fatheName" name="fatheName">
    </div>

    <div class="form-group">
      <label for="dob">Date of birth:</label>
      <input type="date" class="form-control" id="dob" name="dob">
      <!-- <input type="text" class="form-control" id="dob" name="dob"> -->
      
    </div>  

    <div class="form-group">
       <label for="Sex">Sex</label>
    <label class="radio-inline"><input type="radio" id="gen" value=0  name="gender">Male</label>
    <label class="radio-inline"><input type="radio" id="gen" value=1 name="gender">Female</label>
    </div>

    <div class="form-group">
      <label for="occupation">Occupation:</label>
      <input type="text" class="form-control" id="occupation" name="occupation">
    </div> 

    <div class="form-group">
      <label for="mobilenumber">Mobile Number:</label>
      <input type="text" class="form-control" id="mobilenumber" name="mobilenumber">
    </div>
    
    <div class="form-group">
      <label for="landline">Landline Number:</label>
      <input type="text" class="form-control" id="landline" name="landline">
    </div> 

    <div class="form-group">       
         <label class="control-label">ID Proof <br />
         <select id="dd1" class="form-control">
<!--          <option value="0"></option>  
 -->         <option value="1">Select a ID Proof</option>
         <option value="2">Passport</option>
         <option value="3">Voter ID</option>
         <option value="4">Aadhaar</option>
         <option value="5">Pan Card</option>
         <option value="6">Driving licence</option>
                  <option value="7">Pass book</option>

        </select>
          </label>
   </div>

    <div class="form-group">
      <label for="idNumber">Id Number:</label>
      <input type="text" class="form-control" id="idNumber" name="idNumber">
    </div> 
</div>

<!-- Right Side Div -->
<div class = "col-lg-4" >
    <div class="form-group">
      <label for="address">Address:</label>
      <!-- <input type="textarea" class="form-control" id="address" name="address"> -->
      <textarea class="form-control" rows="8" name="address" id="address"></textarea>
    </div> 

    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" id="city" name="city">
    </div> 

    <!-- Well For Relationship -->
    <div class="well well-lg"> 
      <div class="form-group">
        <label for="Reference">Reference:</label>
        <input type="text" class="form-control" id="Reference" name="Reference">
      </div>
      
      <div class="form-group">
        <label for="refRelationship">Reference Relationship:</label>
        <input type="text" class="form-control" id="refRelationship" name="refRelationship">
      </div>
    </div>
    <input type="submit" class="btn btn-default pull-right" value="submit" onclick="validate();" />
    </p>
<!--     <button type="submit" ">Submit</button>
 --></div>

<!-- Image uplode -->
<div class = "col-lg-4" >
    <input type='file' onchange="readURL(this);" />
    <img id="blah" src="#" alt="your image" />

    <script>
      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </form>
</div>
</body>
</html>