 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>


<div class="container">
    <h3>DASHBOARD</h3>

    <a class="btn btn-primary btn-lg" href="/customer" > CUSTOMER NEW </a>
    <a class="btn btn-primary btn-lg" href="/customer/existing" > SEARCH CUSTOMER </a>
    <a class="btn btn-primary btn-lg" href="/loan" > NEW LOAN </a>
    <a class="btn btn-primary btn-lg" href="/customer/existing" > SEARCH LOAN </a>

</div>
  </body>