 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<div class="container">
  <div class="form-group well">

  <label for="paymentAmount">Payable Amount:</label>
  <input type="text" class="form-control" id="paymentAmount" name="paymentAmount" value='12345'>

  <label for="paymentAmount">Payment Amount:</label>
  <input type="text" class="form-control" id="paymentAmount" name="paymentAmount">

  <label for="paymentNote">Note:</label>
  <textarea type="textarea" class="form-control" id="paymentNote" name="paymentNote"></textarea>
  <button>Submit</button>
  </div>
</div>
    </body>
  </html>