 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

    <div class="container">
      <div class="well">
        <div class="form-group">

          <label for="paymentAmount">Payment Amount:</label>
          <input type="text" class="form-control" id="paymentAmount" name="paymentAmount">

          <label for="paymentNote">Note:</label>
          <input type="text" class="form-control" id="paymentNote" name="paymentNote">

        </div>
      </div>
    </div>
  </body>
  </html>