    <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>
<h1> REPAY SI PAY </h1>

    <div class="container well ">
        <table class="table">
            <tbody>
                <tr>
                    <td>Emi Amount :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Instalment No :</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Amount To Pay : </td>
                    <td></td>                    
                </tr>
                <tr>
                    <td>Note : </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

  </body>
  </html>