 <!--Partial of Head  -->
 <% include ../partials/head %> 


  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

<div class="container">
    <h2>Reports</h2>
    <a href="/report/customer" class="btn btn-info btn-lg" > Customer</a>
    <br><br>
    <a href="/report/loan" class="btn btn-info btn-lg" >  Loans </a>
</div>
    
</body>
</html>