 <!--Partial of Head  -->
 <% include ../partials/head %> 

  <body>

    <!-- partials For NAV -->
<% include ../partials/nav %>

    <h3> Reports </h3>

    Customer Reports
    Loan Reports
    
</body>
</html>