<!--Partial of Head  -->
<% include ../partials/head %> 
  <body>
<!-- partials For NAV -->
<% include ../partials/nav %>

<div class="container">
    <h2>Reports</h2>
    <a href="/report/customer" class="btn btn-info" > Customer</a>
    <a href="/report/loan" class="btn btn-info" >  Loans </a>
</div>
    
</body>
</html>